// Bu dosyayi "secrets.h" olarak kopyala ve WiFi bilgilerini gir.
// secrets.h .gitignore'da -> sifre repoya girmez.
#pragma once
#define DEFAULT_WIFI_SSID "WIFI_ADIN"
#define DEFAULT_WIFI_PASS "WIFI_SIFREN"
